@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
html
{
  scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Serif', serif;
    color: #0D1928;
}
p {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
  font-size: 20px;
}

ul, li, span {
  font-family: "Barlow", sans-serif;
}

.font-barlow{
  font-family: "Barlow", sans-serif;
}
.font-ibm{
  font-family: 'IBM Plex Serif', serif;
}
.shadow-lg {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid rgba(186, 186, 186, 1) !important;
}
/* .container {
    height: 100%;
    min-height: calc(100vh - 448.5px);
} */
.homepage .bookpart .spanfont{
  font-weight: 600;
  font-size: 30px;
}
/* .homepage .catergory span{
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .homepage .category span {
    font-size: 5px;
  }
} */
 .contactus .paragh{
  padding-bottom: 5px;
  
 }
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bookwidth{
    width: calc(100% - 250px);
}
.modal-wrapper {
    width: 500px;
    height: 600px;
  }
  
  .modal {
    background: white;
    height:100%;
    width:100%;
    border-radius: 15px;
    padding: 15px;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-body {
    padding-top: 10px;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
  }

  .truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .border-l-2 {
    border-left-width: 1px;
    color: #D9D9D9;
}

.border-b-2 {
  border-bottom-width: 1px;
  color: #D9D9D9;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #F2F2F2;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #F2F2F2; 
  border-color: #007DD7; 
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 12px;
  border: solid #007DD7;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 1px;
  left: 4px;
}


.iconleftright {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.iconleftright::before {
  content: "";
  background-image: url('../image/inkdouble1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -15px; 
  top: 80%; 
  transform: translateY(-50%); 
  width: 55px;
  height: 55px;
}

.iconleftright::after {
  content: "";
  background-image: url('../image/inkdouble2.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  position: absolute;
  right: -15px;
  top: 83%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
}

.footer-bg {
  background-image: url('../image/footerbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.banner-bg{
  background-image: url('../image/author.png');
  background-position: center; /* Center the image */
  height: 100%;
}

/* Home Page */
/* .slide_1{background: url('../image/author.png');     background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center; width: 100%;} */
/* Home Page End */

/* Single Book Page */
.banner .item img {height: 400px; width: 100%;}
.about-book{position: relative; padding-bottom: 13% !important;}
.about-book .curve_img{position: absolute; bottom: 0px; left: 0px; width: 100%;}
.about-book .curve_img img{width: 100%;}

.about-author {position: relative;}
.about-author .curve_img {position: absolute; left: 0; top: 0; width: 100%;}
/* End */

/* Fixed Aside */
.aside_fixed{position: fixed !important; top: 50% !important; left: 90px !important; transform: translate(-50%, -50%);
  z-index: 999; padding: 20px; width: 180px; border-radius: 0px 10px 10px 0px; background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); border: 1px solid #BABABA; border-left: 0px;}

.custom-clip {
  clip-path: path("M876.801 88.3424C895.86 87.8641 912 102.896 912 121.962V907C912 929.091 894.091 947 872 947H40C17.9086 947 0 929.091 0 907V76.0798C0 61.3457 8.04571 47.6894 21.3207 41.2966C28.6518 37.7662 36.1808 34.3485 43.932 31.0624C63.957 23.219 85.3042 16.3729 108.044 10.9483C130.276 6.37244 153.376 3.1969 176.951 1.25904C210.63 -0.700035 244.585 -0.268616 278.215 1.83191C331.6 6.04003 383.325 14.2724 433.854 24.1951C529.361 42.9371 621.531 67.3937 721.218 79.6998C771.825 85.9448 824.751 89.6508 876.801 88.3424Z");
  background-color: #FF81001A;
}



@media (min-width: 1536px) {
.container{
  width: 100%;
  max-width: 1280px !important;
  margin: auto;
}
}

.home_slider{
  margin-bottom: 80px;
}
.home_slider .item{
  width: 100%;
}
.home_slider .pagination .pagenumber .newp{
 margin-bottom: 0px !important;
}
.home_slider .item p{
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight:500;
  padding-top: 10px;
}
.border_line_1 {
  display: inline-block;
  border-bottom: 4px solid #007DD7;
}

.slider-track .slide_item img{
  max-height: 500px;
  height: 100%;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db; /* The blue color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
